[Unit]
Description=Gunicorn Daemon for FastAPI Demo Application
After=network.target

[Service]
User=demo
Group=www-data
WorkingDirectory=/home/ubuntu/FastAPI-BD/
ExecStart=gunicorn main:app -k uvicorn.workers.UvicornWorker

[Install]
WantedBy=multi-user.target