[Unit]
Description=UvicornAPI for Data Base

[Service]
Type=simple
ExecStart=/home/ubuntu/FastAPI-BD/startUvicorn.sh
#ExecStop=/home/ubuntu/FastAPI-BD/stopUvicorn.sh
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
