[Unit]
Description=Gunicorn Daemon for FastAPI Demo Application
After=network.target

[Service]
User=demo
Group=www-data
WorkingDirectory=/home/ubuntu/FastAPI-BD/
ExecStart=/home/ubuntu/FastAPI-BD/venv/bin/gunicorn -c gunicorn_conf.py main:app

[Install]
WantedBy=multi-user.target